<!--Last Word About Us
	HTML Document
	Author: Eugene Lucino-->

<!-- About Us page. Contains group members and info about purpose of Last Word. -->

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>About Us- Last Word</title>
	<meta charset "UTF-8">
	<meta name="description" content="Dead Man's Switch">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="COP4600 Group 2">
	<link rel="stylesheet" href="../stylesheets/about.css">
	<link rel="stylesheet" href="../stylesheets/topnav.css">
</head>

<body>

<div class="topnav">
	<a class="logo" href="#home" alt="Home" title="Home"><img src="Last Word.png" style="width:36px; height:36px; object-fit: scale-down;"></a>
	<a class="menulab" href="#about">About Us</a>
	<a class="menulab" href="#login" style="float:right">Log In</a>
	<a class="menulab" href="#signup" style="float:right">Sign Up</a>
</div>

<h1>About Us</h1>

<h2>What is L&Alpha;st W&Omega;rd?</h2> <hr>
	<p>Last Word is a Dead Man's Switch- an application that enables you to share sensitive 
	data (your "will") with recipients (designated by you) after a period of inactivity.</p>
	<p>A server is used to transfer a will posthumously or release information to the public.</p>
	<p>Last Word performs all encryption and decryption on the client's side. 
	Therefore, all data will be confidential and only available to selected recipients.</p>
<br>

<h2>Liabilities</h2> <hr>
	<p>Last Word will NOT ask for your personal information such as your real name or email.</p>
	<p>The Web server does NOT log identifying user data. The server will not track IP addresses, 
	browser fingerprints, user activities, etc.</p>
	<p>The data will only be available to you and your recipients (once the data is released).</p>
<br>

<h2>Who Made L&Alpha;st W&Omega;rd?</h2> <hr>
	<p>Last Word was made by Group 2 of COP 4331 at the University of Central Florida:</p>
<ul>
	<li>Armand Alvarez - Business Analyst and Front End Developer</li>
	<li>Keith Guske - Security and Android Developer</li>
	<li>Anthony Jackson - Back End Developer</li>
	<li>Eugene Lucino - Front End Developer and Graphic Designer</li>
	<li>Aaron Paljug - Back End Developer</li>
	<li>Mark Poulsen - Project Manager and Android Developer</li>
	<li>Sean Simonian - Project Manager and Security Developer</li>
</ul>
	<p>This group was formed under the direction of Professor Richard Leinecker 
	in the Spring 2018 semester. </p>
<br>

<h2>What's up with the logo?</h2> <hr>
	<img src="Last Word.png" alt="Last Word" width="130" height="160" align="right">
	<p>The logo for Last Word is a dark red light switch, a representation of the dead man's switch.
	It is currently in the "off" position, ready to turn on whenever the period of inactivity
	expires. The face of the light switch is a parchment color with lines on it, representing
	a last will and testament. When the switch is turned on, the "will" is hidden from view,
	meaning no one will see it except you and the recipients.</p>
<br>

<h2>Do you have an app?</h2> <hr>
	<p>Yes, we do!</p>
<br>

<h2>How can we contact you?</h2> <hr>
	<p>We are available in HEC 420 from 5:00-5:01 pm to ignore all your questions.</p>
<br>

</body>
</html>