<!--Last Word Home Page
	HTML Document
	Author: Eugene Lucino-->

<!-- The home page for Last Word. Here, users can log in to see their profile or create
	an account to start protecting their data. -->

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Last Word</title>
	<meta charset "UTF-8">
	<meta name="description" content="Dead Man's Switch">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="COP4600 Group 2">
	<link rel="stylesheet" href="home.css">
</head>

<body>

<div class="topnav">
	<a class="logo" href="#home"><img src="Last Word.png" style="width:36px; height:36px; object-fit: scale-down;"></a>
	<a class="menulab" href="#about">About Us</a>
	<a class="menulab" href="#signup" style="float:right">Sign Up</a>
	<a class="menulab" href="#login" style="float:right">Log In</a>
</div>

<h1>L&Alpha;ST W&Omega;RD</h1>

<p style="text-align:center; font-style:italic; font-size:20px;">When it hits the fan, have a plan.</p>

<!-- Sign in form -->
<div>
	<form name="login" action="#" method="post">
		<label for="user">Username</label><br>
		<input type="text" id="user" name="username" placeholder="Username" required> <br>
		
		<label for="pass">Password <a href="#">(Forgot?)</a></label>
		<input type="password" id="pass" name="password" placeholder="Password" required> <br>
		
		<button type="submit" id="submit">Sign In</button>
	</form>
</div>

<!-- Create account button -->
<div>
	<p>Don't have an account?</p>
	<button type="button" id="create">Create Account</button>
</div>

<!-- Group and copyright information -->
<div class="footer">
	<p title="I'm blue da ba dee da ba daa"> A project by COP4600 Group 2</p>

	<p> <span title="Dad always said that laughter is the best medicine,
which I guess is why several of us died from tuberculosis.">Armand Alvarez,</span> 
	<span title="Hey! Look! Listen!">"Chief" Keith Guske,</span> 
	<span title="Did you know they have Taco Bell on Door Dash?">Anthony Jackson,</span> 
	<span title="Never gonna give you up, never gonna let you down">Eugene Lucino,</span> 
	<span title="Not only is my new thesaurus terrible, it's also terrible.">Aaron Paljug,</span> 
	<span title="The mitochondria is the powerhouse of the cell.">Mark Poulsen,</span> 
	<span title="Do you know the way?">Sean Simonian</span></p>

	<p title="Haskell is love. Haskell is life."> 
		&copy; 2018 Leinecker Enterprises</p>
</div>

</body>
</html>