<!--GameOfLife
	HTML Document
	Author: Eugene Lucino-->

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Dead Man's Switch - Homepage</title>
    <meta charset=UTF-8">
    <meta name="description" content="Dead mans' Switch">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Eugene Lucino">
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>

<body>

<h1>GameOfLife</h1>

<!-- Put motto if we ever come up with one -->
<p style="text-align: center; font-style:italic">Insert tagline here</p>

<!-- Sign in form -->
<div>
    <form name="login" action="/login" method="get">
        <input type="submit" id="sign_in" value="Sign In">
    </form>
    <form name="create_account" action="/signup" method="get">
        <input type="submit" id="create_account" value="Create Account">
    </form>
</div>

<!-- Group and copyright information -->
<p id="info" title="I'm blue da ba dee da ba daa"> A project by COP4311 Group 2</p>

<p id="info"> <span title="Dad always said that laughter is the best medicine,
which I guess is why several of us died from tuberculosis.">Armand Alvarez,</span>
    <span title="Hey! Look! Listen!">"Chief" Keith Guske,</span>
    <span title="Did you know they have Taco Bell on Door Dash?">Anthony Jackson,</span>
    <span title="Never gonna give you up, never gonna let you down">Eugene Lucino,</span>
    <span title="Not only is my new thesaurus terrible, it's also terrible.">Aaron Paljug,</span>
    <span title="The mitochondria is the powerhouse of the cell.">Mark Poulsen,</span>
    <span title="Do you know the way?">Sean Simonian</span></p>

<p id="info" title="No one reads this far. What are you doing snooping around?">
    &copy; 2018 Leinecker Enterprises</p>

</body>
</html>