<!--WillSwitch
	HTML Document
	Author: Eugene Lucino-->

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Last Word</title>
    <meta charset = "UTF-8">
    <meta name="description" content="Dead Man's Switch">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="COP4600 Group 1">
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>

<body>

<h1>Last W&Omega;rd</h1>

<!-- Sign in form -->
<div>
    <form name="login" action="/users/login" method="post">
        <input type="text" id="user" name="user_name" placeholder="Username" required>
        <input type="password" id="pass" name="password" placeholder="Password" required>
        <input type="submit" id="submit" value="Sign In">
    </form>
</div>

<!-- Group and copyright information -->
<p id="info" title="I'm blue da ba dee da ba daa"> A project by COP4331 Group 2</p>

<p id="info"> <span title="Dad always said that laughter is the best medicine, which I guess is why several of us died from tuberculosis.">Armand Alvarez,</span>
    <span title="Hey! Look! Listen!">"Chief" Keith Guske,</span>
    <span title="Did you know they have Taco Bell on Door Dash?">Anthony Jackson,</span>
    <span title="Never gonna give you up, never gonna let you down.">Eugene Lucino,</span>
    <span title="Not only is my new thesaurus terrible, it's also terrible.">Aaron Paljug,</span>
    <span title="The mitochondria is the powerhouse of the cell.">Mark Poulsen,</span>
    <span title="A person studying atoms is just a bunch of atoms studying themselves.">Sean Simonian</span></p>

<p id="info" title="No one reads this far. What are you doing snooping around?"> &copy; 2018 Leinecker Enterprises</p>

</body>
</html>