<!--Last Word Profile Page
	HTML Document -->

<!-- This page is the home page for a user once they sign in. It contains the documents
	 submitted by the user as well as documents the user has recieved. Two buttons are
	 provided to allow the user to edit their information or add a new document. -->

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Your Profile - Last Word</title>
	<meta charset = "UTF-8">
	<meta name="description" content="Dead Man's Switch">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="COP4600 Group 1">
    <!--===============================================================================================-->
	<link rel="stylesheet" href="../stylesheets/profile.css">
    <!--===============================================================================================-->
	<link rel="stylesheet" href="../stylesheets/topnav.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/util.css">
    <!--===============================================================================================-->
	<script type="text/javascript" src="../javascripts/angular.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../javascripts/profile_fe.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
</head>
<body>

<div class="topnav">
	<a class="logo" href="/" alt="Home" title="Home"><img src="../images/Last Word.png" style="width:36px; height:36px; object-fit: scale-down;"></a>
	<a class="menulab" href="/about">About Us</a>
    <a class="menulab" href="/" style="float:right">Log Out</a>
    <a class="menulab" href="/profile" style="float:right">Your Docs</a>
</div>

<h1 id="h1">Welcome to L&Alpha;st W&Omega;rd, </h1>

<div class="editing">
	<p>Your information is protected. Select a button to change your information</p>
	<p>or add a new document. All your documents are listed below.</p>
    <form method="get" action="/profile/edit">
        <button type="submit" id="information"><b>Edit Information</b></button> <br>
    </form>

    <form method="get" action="/profile/submitdoc">
        <button type="submit" id="submitdoc"><b>Add New Document</b></button> <br>
    </form>
</div>

<div ng-app="myApp" ng-controller="myCtrl" data-ng-init="getUsersDocs()">

    <div class="Init_profile">
        <!--p tag for storing user's ID.-->
        <p id="user_id" hidden></p>
        <!--Get data sent from server and assign it where appropriate.-->
        <script>
          console.log("<%= _id %>" + "\n" + "<%= user_name %>"  + "\n" + "<%= last_login %>");
          document.getElementById("user_id").innerHTML = "<%= _id %>";
          document.getElementById("h1").innerText += " <%= user_name %>";
        </script>
    </div>

    <br>
    <br>
    <p align="center" style="font-size: 20px;">Your Documents</p>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver2 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Nickname</th>
                                <th class="cell100 column2">Expire Time</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table id="docs_table">
                            <tbody>
								<!-- Documents sent by user -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p align="center" style="font-size: 20px;">Received Documents</p>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver2 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Nickname</th>
                                <th class="cell100 column2">Expire Time</th>
                                <th class="cell100 column3">Cipher Text</th>
                                <th class="cell100 column4" hidden>docId</th>
                                <th class="cell100 column5" hidden>pubKey</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table id="recpient_table">
                            <tbody>
								<!-- Documents received by user -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--Handle Document Scroll-->
<script>
  $('.js-pscroll').each(function(){
    var ps = new PerfectScrollbar(this);

    $(window).on('resize', function(){
      ps.update();
    })
  });
</script>

</body>
</html>
