<!--Last Word Recipients HTML
	Author: Eugene Lucino-->

<!-- Table of recipients. Users can add, delete, and edit the people that 
	they want to send information to. -->

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Recipients- Last Word</title>
	<meta charset "UTF-8">
	<meta name="description" content="Dead Man's Switch">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="COP4600 Group 2">
	<link rel="stylesheet" href="../stylesheets/receive.css">
	<link rel="stylesheet" href="../stylesheets/topnav.css">
</head>

<body>

<div class="topnav">
	<a class="logo" href="#home" alt="Home" title="Home"><img src="../images/Last Word.png" style="width:36px; height:36px; object-fit: scale-down;"></a>
	<a class="menulab" href="#about">About Us</a>
	<a class="menulab" href="#logout" style="float:right">Log Out</a>
	<a class="menulab" href="#profile" style="float:right">Your Profile</a>
</div>

<h1>Recipient Information</h1>

<p>Should you be unable to confirm that you are alive, your information will be sent 
to the recipients you designate here.</p>
<br>

<div class="editing" style="width:60%">
  <button>Add Person</button>
  <button>Delete Person</button>
  <button>Edit Person</button>
  <button>Sort by First Name</button>
  <button>Sort by Last Name</button>
  <button>Sort by Email</button>
</div>
<br>

<table class="names" style="width:70%">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<tr>
		<td>Jill</td>
		<td>Smith</td> 
		<td>jsmith40@mailer.com</td>
	</tr>
	<tr>
		<td>Eve</td>
		<td>Jackson</td> 
		<td>eveja@fortran.com</td>
	</tr>
	<tr>
		<td>John</td>
		<td>Cena</td>
		<td>youcantseeme@gmail.com</td>
	</tr>
</table>

</body>
</html>
