<!--Last Word Enter Information
	HTML Document
	Author: Eugene Lucino-->

<!-- This page is where the user enters the information (in a text box) that they wish
	to send to recipients when the "I'm Alive" button is not pressed. This text will be
	encrypted upon submission and later decrypted when it is sent. -->
	
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Last Word</title>
	<meta charset "UTF-8">
	<meta name="description" content="Dead Man's Switch">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="COP4600 Group 2">
	<link rel="stylesheet" href="../stylesheets/secrets.css">
	<link rel="stylesheet" href="../stylesheets/topnav.css">
</head>

<body>

<div class="topnav">
	<a class="logo" href="/" alt="Home" title="Home"><img src="../images/Last Word.png" style="width:36px; height:36px; object-fit: scale-down;"></a>
	<a class="menulab" href="/about">About Us</a>
	<a class="menulab" href="/" style="float:right">Log Out</a>
	<a class="menulab" href="/profile" style="float:right">Your Profile</a>
</div>

<!-- Warnings and notes -->
<h1>Your personal information</h1>
<div class="comments">
	<p>Enter the personal information you wish to send to your recipients in the text field below.</p>
	<p>This information will be encrypted and we will not be able to see this information.</p>
	<p>You must press the "I'm Alive" button on your profile page to prevent this information from being released.</p>
</div>

<br> <br>

<!-- Form where user enters information -->
<form name="information" action="#" method="post">
	<div class="lastwords">
		<label for="info" style="font-size: 20px;">Last Words:</label> <br><br>
		<textarea class="personal_info" rows="10" cols="50" id="info"></textarea> <br><br>
		<button type="submit" id="submit_info">Submit</button>
	</div>
</form>

</body>
</html>
