<!--Last Word Sign Up Page
	HTML Document
	Author: Eugene Lucino-->

<!-- A new user can sign up for an account on this page. The user fills in information
	such as a username and password. -->

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Sign Up for Last Word</title>
	<meta charset = "UTF-8">
	<meta name="description" content="Dead Man's Switch">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="COP4600 Group 1">
	<link rel="stylesheet" href="../stylesheets/signup.css">
	<link rel="stylesheet" href="../stylesheets/topnav.css">
    <script type="text/javascript" src="../javascripts/angular.min.js"></script>
    <script type="text/javascript" src="../javascripts/sign_up_fe.js"></script>
</head>

<body>

<div class="topnav">
	<a class="logo" href="/" alt="Home" title="Home"><img src="../images/Last Word.png" style="width:36px; height:36px; object-fit: scale-down;"></a>
	<a class="menulab" href="/about">About Us</a>
	<a class="menulab" href="/login" style="float:right">Log In</a>
</div>
<br>


<form name="signup" action="users/submituser" method="post" style="border:1px solid gray; margin:10px 10px;">
  <div class="container">
    <h1>Sign Up for Last W&Omega;rd</h1>
    <p>Start protecting your valuable information by filling out this form.</p>
    <hr>
    <label for="newuser"><b>Username</b></label> <br>
    <input type="text" id="newuser" placeholder="Enter Username" name="user_name" required> <br>

    <label for="newpass"><b>Password</b></label> <br>
    <input type="password" id="newpass" onkeyup="check();" placeholder="Enter Password" name="password"
           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and
           lowercase letter, and at least 8 or more characters" required> <br>

    <label for="repeatpass"><b>Repeat Password</b> <br>
    <input type="password" id="repeatpass" onkeyup="check();" placeholder="Repeat Password" name="password_repeat"
           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and
           lowercase letter, and at least 8 or more characters" required>
           <p id='message'></p>
           </label> <br>

    <label for="pub_key"><b>Public Key</b></label> <br>
    <input type="text" id="pub_key" placeholder="Enter Public Key" name="public_key" title="Enter a string of characters.
	This key will be used to encrypt your information" required> <br>
    
    <p>By creating an account you agree to our <a href="#">Terms and Privacy</a>.</p>

    <div>
      <button type="submit" class="signupbtn" id="signup">Sign Up</button>
      <button type="reset" class="resetbtn" id="cancel">Reset</button>
    </div>
  </div>
</form>

</body>
</html>
