/*	Last Word Home Page
	CSS Document
	Author: Mark Poulsen & Eugene Lucino */

body { background-color: seashell; }

h1 {
    color: firebrick;
    font-family: helvetica;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    padding-bottom: 10px;
}

/* Submit button */
input[type=submit] {
    width: 60%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* darken button when hovering over */
input[type=submit]:hover { background-color: firebrick; }

div { padding: 20px; text-align: center; }

/* Group and copyright information */
#info, #developers, #copyright { text-align: center; }