/*	GameOfLife
	CSS Document
	Author: Mark Poulsen */

body {
    background-color: seashell;
}

h1 {
    color: firebrick;
    font-family: helvetica;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    padding-bottom: 10px;
}

/* Username and Password fields */
input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
/* black border when typing in box */
input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #555;
}

/* Submit button */
input[type=submit] {
    width: 60%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* darken button when hovering over */
input[type=submit]:hover {
    background-color: firebrick;
}

div {
    padding: 20px;
    text-align: center;
}

/* Group and copyright information */
#info {
    text-align: center;
}

#developers {
    text-align: center;
}

#copyright {
    text-align: center;
}