/*	GameOfLife Profile Page
	CSS Document
	Author: Mark Poulsen */

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: ghostwhite;
}

h1 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    padding-bottom: 10px;
}

br { padding: 100px; }

button {
    width: 30%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

/* "I'm alive" button */
.imalive { text-align: center; }
.imalive button { font-size: 40px; }
.imalive button:hover { background-color: darkgreen; }

/* Edit info and recipients */
.editing { text-align: center; }
.editing button {
    background-color: sienna;
    font-size: 20px;
}
.editing button:hover { background-color: saddlebrown; }

/* Additional options */
.options { text-align: center; }
.options button {
    background-color: sienna;
    font-size: 20px;
}
.options button:hover { background-color: saddlebrown; }