/*	Last Word Profile Page
	CSS Document
	Author: Eugene Lucino */

/* Shared styles */
body, h1 { font-family: Helvetica, Arial, sans-serif; }
h1, button, .imalive, .editing { text-align: center; }

body { background-color: linen; }

h1 {
	color: firebrick;
	font-size: 30px;
	padding: 10px;
	padding-bottom: 10px;
}

button {
	width: 25%;
	background-color: green;
	color: white;
	padding: 12px 20px;
	margin: 8px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Edit info and recipients */
.editing button {
	background-color: sienna;
	font-size: 15px;
}
.editing button:hover { background-color: saddlebrown; }


/* =====================================================
				[ Table ]
   ===================================================== */
.limiter {
     width: 75%;
     margin: 0 auto;
 }

.container-table100 {
    width: 100%;
    /*min-height: 100vh;*/
    background: #fff;

    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*padding: 33px 30px;*/
}

.wrap-table100 {
    width: 100%;
}

.table100 {
    background-color: #fff;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}

table {
	width: 100%;
}

th, td {
	font-weight: unset;
	padding-right: 10px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
    position: relative;
    padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    /*bottom: 5px;*/
}

.table100-body {
    max-height: 585px;
    overflow: auto;
    top: 10px;
}

/*==================================================================
[ Ver2 ]*/

.table100.ver2 .table100-head {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.table100.ver2 th {
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;

    background-color: transparent;
}

.table100.ver2 td {
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.table100.ver2 .table100-body tr {
    border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/

.table100.ver2 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver2 .ps__rail-y {
    right: 5px;
}

.table100.ver2 .ps__rail-y::before {
    background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}

/*==================================================================*/

.column1 {
	width: 33%;
	/*padding-left: 40px;*/
    text-align: center;
}

.column2 {
	width: 33%;
    text-align: center;
}

.column3 {
	width: 33%;
    text-align: center;
}

/* Scroll for documents table */
.js-pscroll {
	position: relative;
	overflow: hidden;
}
/* =====================================================
   ===================================================== */

/* Log out button */
#logout { background-color: green; }
#logout:hover { background-color: darkgreen; }