/* Last Word Received Document */

h1, p { font-family: Helvetica, Arial, sans-serif; }
body { background-color: linen; text-align: center; }

h1 {
	color: firebrick;
	font-size: 30px;
	padding: 10px;
}

p {
	font-size: 20px;
	padding: 10px;
}

textarea {
	width: 470px;
	height: 375px;
}

input[type=file] {
	float: middle;
	color: black;
	height: 50px;
	font-size: 20px;
	overflow: hidden;
}

/* Standard style for all buttons */
button {
	color: white;
	padding: 14px 20px;
	margin: 4px 0px;
	border: none;
	cursor: pointer;
	font-size: 18px;
	width: 100%;
}

.decryptbtn {
	width: 40%;
	padding: 14px 20px;
	background-color: green;
	float: middle;
}

.decryptbtn:float {background-color: darkgreen;}
